@import "tailwindcss";
@import "https://fonts.cdnfonts.com/css/panton-black-caps";

@theme {
    --color-primary: #143b32;
    --color-background: #f6f5f1;
    --color-highlight: #f9d3bc;
    --font-panton: "Panton", sans-serif;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-panton);
    color: var(--color-primary);
}

span {
    background: linear-gradient(to top, #ffccb3 40%, transparent 40%);
    padding: 0 4px;
}

h1 {
    font-size: 5rem;
    font-family: var(--font);
}

nav li {
    list-style: none;
}

nav li:not(.button):hover {
    text-decoration: underline var(--highlight-color) 3px;
}

nav {
    margin: 20px;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

input[type="search"] {
    width: 20%;
    border: 1px solid var(--primary-color);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

select {
    width: 20%;
    border: 1px solid var(--primary-color);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#button {
    width: fit-content;
}

li {
    list-style: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    nav {
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    input[type="search"],
    select {
        width: 100%;
    }
}